accel-hydra
torch<=2.8.0
torchaudio<=2.8.0
torchvision<=0.23.0
torchdata
diffusers
hydra-core
omegaconf
tqdm
accelerate
wandb
einops
transformers
alias_free_torch
h5py
soundfile
tensorboard
swanlab
fire
sentencepiece
librosa
pypinyin
g2p_en
moviepy
av
matplotlib
x_transformers==2.11.23
open_clip_torch==3.2.0